main.container {
    margin-top: 56px;
    padding: 40px 0;
}

.container.auth {
    padding: 40px 0;
}

/**
 * Sidebar menu
 */
.list-group .list-group > .list-group-item {
    padding-left: 2.5rem;
    border-bottom: none;
    border-top: none;
    border-radius: 0;
}

.list-group .list-group > .list-group-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
}


.dashboard-ready {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.list-group:last-child > .list-group-item.last {
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}